#ce-player {
  max-width: 940px;
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  padding: 10px;
}
#ce-player .slides {
  overflow: auto;
  margin: 10px 0 0;
  clear: both;
}
#ce-player .slides ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#ce-player .slides li {
  display: inline-block;
  vertical-align: top;
  margin: 2px .5px;
  cursor: pointer;
}
#ce-player .slides #next,
#ce-player .slides #prev {
  font-size: 18px;
  cursor: pointer;
}
#ce-player .slides #next.disabled,
#ce-player .slides #prev.disabled {
  color: #ccc;
  cursor: not-allowed;
}
#ce-player .slides #next {
  float: right;
}
#ce-player .slides li img {
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  max-width: 100%;
}
#ce-player .slides li.cycle-slide-active img {
  box-shadow: 0 0 5px 1px rgba(3,49,114,1);
}
#ce-player .presentation {
  display: inline-block;
  vertical-align: top;
  position:relative;
  z-index:1000;
  width: 65%;
  background-color:#fff;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}
#ce-player .presentation img {
  display: block;
  max-width: 100%;
}
#ce-player .presentation > div,
#ce-player .presentation > div .validation {
  display: none;
}
#ce-player .presentation.quiz-active img,
#ce-player .presentation.video-active img {
  display: none;
}
#ce-player .presentation.quiz-active > div,
#ce-player .presentation.video-active > div {
  display: block;
}
#ce-player .presentation form {
  padding: 10px;
}
#ce-player .presentation form label {
  display: block;
  margin-bottom: 5px;
}
#ce-player .presentation form h3 {
  background-color: #369;
  margin: 0 -10px 10px;
  color: #fff;
  padding: 14px;
  font-size: 16px;
}
#ce-player .presentation form label input {
  margin-right: 4px;
}
#ce-player .presentation form.answered label {
  color:#999;
}
#ce-player .presentation form.answered label span {
  display: inline-block;
  margin-right: 5px;
  background-color: #eee;
  padding: 3px 8px;
  border-radius: 3px;
}
#ce-player .presentation form.answered label.correct {
  color:green;
}
#ce-player .info {
  display: inline-block;
  vertical-align: top;
  width:32%;
  margin-right: 2%;

}
#ce-player .video {
  background-color:#eee;
  text-align: center;
  min-height: 180px;
}
#ce-player .details {
  overflow: scroll;
  /*height: 150px;*/
  margin:10px 0;
}
#ce-player .details strong {
  display: block;
}
#ce-player .info .btn {
  display: block;
  margin-top:10px;
}
#ce-player .info .resources {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 90px;
  overflow: scroll;
}
#ce-player .info .resources li {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
#ce-player .info .resources li a{
  display: block;
  font-size: 12px;
  padding: 3px 0;
}
.disable-screen {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color:rgba(0,0,0,.8);
  z-index:500;
  cursor: not-allowed;
  display:none;
}

@media(max-width: 700px){
  #ce-player .info,
  #ce-player .presentation {
    width: 100%;
    margin-right: 0;
  }
  #ce-player .presentation {
    margin-top: 10px;
  }
}